<h1>About Us</h1>
<p>Tech Lovers provides a platform for Australians to buy and sell used technology items. We have desktop computers, laptops, tablets, smartphones, cameras and more. Great for the environment, your wallet and your tech cravings!</p>
