
	<h1>Welcome to Tech Lovers</h1>

	<h2>Your source for used technology items in Australia</h2>

<div id="hero-image">
	<%= image_tag("macbook_pro.jpg", class: "img-responsive center-block") %>
</div>